@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Roboto+Mono&family=Ubuntu&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#app {
  background-image: url("https://i.postimg.cc/CLTXjJs5/57fd02f833f0c5b906f5032b0f2314dc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  cursor: progress;
}

button:focus {
  cursor: progress;
}

.logo {
  width: 5rem;
  background-color: #101010;
  border: 2px #a89a00 solid;
}

.navbar-brand {
  color: #ffffff;
  text-shadow: 1px 1px 2px;
}

.bg-body-tertiary {
  background-image: linear-gradient(to right, black, #373737) !important;
  padding: 10px;
}

.nav-link {
  color: #ffffff;
  text-shadow: 1px 1px 2px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  margin: 5px !important;
  border: 2px #373737 ridge;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #373737;
  color: #a89a00;
  border-radius: 20px;
  border: 2px #a89a00 solid;
  transition: 0.7s;
}

nav a.router-link-exact-active {
  color: #a89a00 !important;
  text-shadow: 2px 2px 3px #373737;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler:hover {
  color: #373737;
  background-color: #ffffff;
  transition: 200ms;
}

.navbar-toggler {
  color: #a89a00 !important;
  background-color: #ffffff;
}

.log-btn {
  background-color: #101010;
  color: #a89a00;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.log-btn:hover {
  transform: scale(1.2);
  transition: 200ms;
}

@media only screen and (width < 989px) {
  .nav-link:hover {
    border-radius: 0;
    width: 100%;
  }
  .bg-body-tertiary {
    overflow-x: hidden;
  }
}

.itachi {
  width: 40rem;
  height: 90vh;
  float: right;
}

.row > * {
  padding-right: calc(var(--bs-gutter-x) * 0) !important;
  padding-left: calc(var(--bs-gutter-x) * 0) !important;
}

.textHome {
  text-align: center;
  margin-top: 30vh;
  color: #ffffff;
  text-shadow: 1px 1px 3px;
  margin-left: 25vh;
}

.hero {
  font-size: 20px;
  display: inline-block;
  color: #ffffff;
  filter: drop-shadow(0 1px 10px);
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #a89a00;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #101010;
}

.movement {
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #a89a00;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #101010;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #a89a00;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

@media only screen and (width < 1112px) {
  .textHome {
    margin-left: 5vh;
  }
  #app {
    background-image: url("https://i.postimg.cc/Znc9vx3y/57fd02f833f0c5b906f5032b0f2314dc.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}

@media only screen and (width < 884px) {
  .textHome {
    margin: auto;
    margin-top: 30vh !important;
  }
}

@media only screen and (width < 843px) {
  .textHome {
    margin-top: 10vh !important;
  }
  .itachi {
    width: 25rem;
    height: 60vh;
  }
}

@media only screen and (width < 650px) {
  #app {
    background-image: url("https://i.postimg.cc/Dzr7zy1S/57fd02f833f0c5b906f5032b0f2314dc.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}

@media only screen and (width < 583px) {
  .textHome {
    margin-top: 5vh !important;
  }

  .itachi {
    width: 18rem;
    height: 40vh;
    margin-top: 20px;
    align-items: center;
  }
  .row > * {
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
    display: flex;
    justify-content: center;
  }
}

.explore-btn {
  width: 85px;
  height: 50px;
  border-radius: 10px;
  box-shadow: #a89a00 0px 10px;
  transition: 500ms;
}

.explore-btn:focus {
  margin-top: 10px;
  box-shadow: 0px 0px black;
  border: #a89a00 2px solid;
  transition: 200ms;
}

@media only screen and (width < 430px) {
  #app {
    background-image: url("https://i.postimg.cc/YSCwtf2s/57fd02f833f0c5b906f5032b0f2314dc.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}
@media only screen and (width < 320px) {
  .merchI-1,
  .merchI-2,
  .merchI-3,
  .merchI-4,
  .merchI-5,
  .merchI-6,
  .merchI-7,
  .merchI-8 {
    width: 16rem !important;
  }
}
@media only screen and (width < 583px) {
  .explore-btn:focus {
    margin-top: 0;
    box-shadow: 0px 0px black;
    border: #a89a00 2px solid;
    transition: 200ms;
  }
}

.adminImg {
  width: 7rem;
}

.box-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.merchI-1,
.merchI-2,
.merchI-3,
.merchI-4,
.merchI-5,
.merchI-6,
.merchI-7,
.merchI-8 {
  margin: 5px;
  width: 20rem;
  border: 2px black solid;
}

.disco-btn {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.disco {
  width: 85px;
  height: 50px;
  border-radius: 10px;
  box-shadow: #a89a00 0px 10px;
  transition: 500ms;
}

.disco:hover {
  margin-top: 10px;
  box-shadow: 0px 0px black;
  border: #a89a00 2px solid;
  transition: 200ms;
}

.feat-text {
  color: #ffffff;
  text-shadow: #ffffff 1px 1px 5px;
  text-align: center;
}

.wrapper {
  display: grid;
  place-content: center;
  font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}

.feat-header-top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  margin-bottom: -20px;
}

.feat-header-bottom {
  margin-top: -17px;
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, #a89a00 53%, #a89a00 65%);
  background: linear-gradient(177deg, #a89a00 53%, #a89a00 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}

@media only screen and (width < 964px) {
  .feat-header-top {
    margin-bottom: -15px;
  }
  .feat-header-bottom {
    margin-top: -15px;
  }
  .container-fluid {
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  }
  .welcome {
    margin-left: 20px;
  }
}

.offer {
  text-align: center;
  color: #ffffff;
  background-color: #373737;
  box-shadow: 10px 10px 10px #ffffff;
  border-radius: 20px;
  border: 2px black solid;
  margin: auto;
}

.headingh {
  margin-top: 20px;
  width: 18rem;
  margin-bottom: 20px;
}

.card-img-top {
  padding: 20px;
}

.card {
  background-image: linear-gradient(to right, #373737, #a89a00);
  color: #ffffff;
}

.view {
  background-image: linear-gradient(to right, black, #373737);
  color: #ffffff;
  border-radius: 20px;
  width: 6rem;
  height: 2rem;
}

.view:hover {
  background-image: linear-gradient(to right, #373737, black);
}

.animeLog {
  width: 15rem;
}

.animelogos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.trends {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  top: 50%;
  left: 50%;
  text-shadow: 2px 2px 5px #ffffff, 6px 6px 5px #373737, 10px 10px 5px #a89a00;
}

.galler {
  text-align: center;
  font-weight: 700;
  -webkit-text-fill-color: #a89a00;
  margin-top: 10rem;
}

.carousel-item {
  margin-bottom: 10rem;
  border: #101010 2px solid;
  width: 18rem;
  height: 18rem;
}

.carousel {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 18rem;
  height: 20rem;
}

.cara {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.text-cara {
  text-align: center;
  background-image: linear-gradient(to right, #373737, #a89a00);
}

.stoypic {
  height: 90vh;
  width: 60vh;
}

.side-words {
  width: 60rem;
  transform: rotate(90deg);
  margin-top: -11.6rem;
  margin-left: -10px;
}

.text-box {
  color: #ffffff;
  text-shadow: 1px 1px 3px #ffffff;
}

.my-story {
  margin-top: -18rem;
  margin-left: 30rem;
  margin-right: 20px;
  margin-bottom: 30vh;
  display: flex;
  text-align: center;
  justify-content: end;
  flex-wrap: wrap;
}

.container-fluid {
  padding-left: calc(var(--bs-gutter-x) * 0) !important;
}

.storyPic2 {
  display: none;
}

@media only screen and (width < 860px) {
  .stoypic {
    height: 70vh;
    width: 40vh;
    margin-left: 10px;
  }
  .side-words {
    width: fit-content;
    transform: rotate(0deg);
    margin-top: -70vh;
    margin-left: 20rem;
  }
  .my-story {
    margin-top: 5rem;
    margin-left: 20rem;
    margin-right: 20px;
  }

  .rights {
    margin-left: 2rem !important;
  }
  
}

@media only screen and (width < 590px) {
  .stoypic {
    height: 90vh;
    width: 65vh;
    margin-left: 10px;
  }
  .side-words {
    width: fit-content;
    transform: rotate(0deg);
    margin-top: 10px;
    margin-left: 10px;
  }
  .my-story {
    margin-top: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 5vh;
  }
}

@media only screen and (width < 500px) {
  .stoypic {
    display: none;
  }
  .storyPic2 {
    display: inline;
    width: 100%;
    height: 8vh;
  }
  .side-words {
    width: fit-content;
    transform: rotate(0deg);
    margin-top: 10px;
    margin-left: 10px;
  }
  .my-story {
    margin-top: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 5vh;
  }
}

.my-pic {
  margin-top: 3rem;
  border-radius: 50%;
  border: solid #a89a00 5px;
  width: 20rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.body-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.founder {
  margin-top: 5rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ffff 0%,
    #373737 29%,
    black 67%,
    #a89a00 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media only screen and (width < 400px) {
  .my-pic {
    width: 16rem;
  }
}

.text-me {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 3px #ffffff;
  margin-bottom: 3rem;
}

.contact-btn:focus {
  cursor: progress;
}

.contact-btn {
  box-shadow: 0px 0px 20px #a89a00;
  outline: 2px solid;
  outline-color: #ffffff;
  transition: 500ms;
  border-radius: 20px;
  width: 6rem;
  height: 2rem;
  margin-bottom: 5rem;
}

.contact-btn:hover {
  box-shadow: 0px 0px 20px #a89a00, 0 0 20px #373737;
  outline-color: #373737;
  outline-offset: 10px;
  text-shadow: #a89a00;
}

.comunity {
  margin-left: 20px;
}

.commu {
  color: #ffffff8f;
}

.links {
  cursor: pointer;
}

.logo-foot {
  width: 6rem;
  height: 4rem;
  margin-left: 13rem;
}

@media only screen and (width < 1000px) {
  .rights {
    margin-left: 5rem !important;
  }
  
}

@media only screen and (width < 1239px) {
  .resident {
    margin-right: 2rem;
  }
}

@media only screen and (width < 444px) {
  .logo-foot {
    margin: auto;
  }
  .resident {
    margin-left: -3rem;
  }
}

.rights {
  margin-left: 10rem;
}

@media only screen and (width < 379px) {
  .resident {
    margin-left: 3rem !important;
  }
}

.resident {
  color: #ffffff8f;
  margin-left: 20rem;
}


.icons {
  width: 3rem;
  padding: 10px;
  margin: 10px;
  transform: scale(1.15);
  animation: pulse 2s infinite;
  transition: 200ms;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(0.9);
  }
}

.form {
  display: flex;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 18rem;
  margin-bottom: 70px;
}

.form-control {
  margin: 9px;
  border: 2px #a89a00 solid;
  text-align: left;
  box-shadow: 10px 10px 2px #101010;
  transition: 500ms;
}

.btn:focus {
  cursor: progress;
}

.title-1 {
  margin: 20px;
  display: flex;
  justify-content: center;
  color: #a89a00;
  text-shadow: #101010 2px 3px 1px;
}

.btn {
  box-shadow: 0px 0px 20px #a89a00;
  outline: 2px solid;
  outline-color: #a89a00;
  transition: 500ms;
}

.btn:hover {
  box-shadow: 0px 0px 20px #a89a00, 0 0 20px #ffffff;
  outline-color: #373737;
  outline-offset: 10px;
  text-shadow: #a89a00;
}

.btn {
  margin: 20px;
  margin-left: 80px;
  margin-right: 80px;
  box-shadow: 10px 10px 2px #101010;
}

input:required:invalid:focus {
  border-color: #ff0000;
  background-color: #ab27278e;
}

textarea:required:invalid:focus {
  border-color: #ff0000;
  background-color: #ab27278e;
}